
/* 
@tailwind base;
@tailwind components;
@tailwind utilities; */

.project-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:15px;
    justify-content: space-between;
    align-items: center;
}

.project-section .portfolio-card:nth-child(odd){
    position: relative;
    top:-100px;
}
 @media screen and (max-width:736px) {
    .project-section{
        grid-template-columns: 1fr ;
    }
    .project-section .portfolio-card:nth-child(odd){
        position: static;
    }
 }